version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: tokencreator-frontend
    ports:
      - "3000:3000"
    restart: always
    environment:
      - NODE_ENV=production
